@page
@using PokeMon_Grupp.Managers
@model PokeMon_Grupp.Pages.AllPokemonsChosenModel

@{
}

<div>

   
     
         @foreach (var pokemon in Model.Pokemons)
         {
             <div>
                 <h2>@pokemon.name</h2>
                 <p>Weight: @pokemon.weight</p>
                 <p>Height: @pokemon.height</p>
             </div>
        
         }

</div>
