@page
@using static PokeMon_Grupp.Enum.Enums
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
@foreach (PokemonGen1 pokemon in Enum.GetValues(typeof(PokemonGen1)))
{
    //kalla på apicaller method 
    //får tillbaka data om pokemonnen 
    //displaya data med a tag

    <a class="text-danger" asp-page="/details" asp-route-pokemon="">@pokemon</a>
    <br />
}
</div>